<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testsuite">

    <listeners>
        <listener class-name="utils.ExtentReportManager"/>
    </listeners>
    <parameter name="browser" value="chrome"/>
    <test name="applicationModule">
        <classes>
            <class name="testCases.TC_0001LoginPage"/>
            <!--            <class name="testCases.TC_002ApplcationTestclass"/>-->
            <!--            <class name="testCases.TC_0003UpdateTestclass"/>-->
        </classes>
    </test>
</suite>